<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529066145890-j1kf52dmtc6mggv1qmlfio191h58i4p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529066145890-j1kf52dmtc6mggv1qmlfio191h58i4p8</string>
	<key>API_KEY</key>
	<string>AIzaSyCnsVNDeNH9dC4pQ-GpdhgRMM7_FilUCXM</string>
	<key>GCM_SENDER_ID</key>
	<string>529066145890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buildmasterRev2</string>
	<key>PROJECT_ID</key>
	<string>buildmaster-rev1</string>
	<key>STORAGE_BUCKET</key>
	<string>buildmaster-rev1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529066145890:ios:c6022f94de95a23a3ab93b</string>
</dict>
</plist>